body {
    padding-top: 70px;
    padding-bottom: 30px;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
  
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}